header {
    background-color: coral;
}

header > form {
    display: flex;
}

header > form > input {
    flex-grow: 1;
}

main {
    background-color: aquamarine;
    margin-top: 1rem;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}