header {
    background-color: coral;
}

header > form {
    display: flex;
}

header > form > input {
    flex-grow: 1;
}

main {
    background-color: aquamarine;
    margin-top: 1rem;
}

.lightbox {
    position: fixed;
    z-index: 1;
    background-color: pink;
}

img {
    max-width: 100%;
    
}

.hidden {
    display: none;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}